// Generic
$background: #F7F7F7;
$main_title: #104E56;
$warning_action:#FCC554;
$blue: #3A96FC;
$red_label:#EA7D88;
$error_color: rgb(222, 50, 38);

$darkgray: #464646;
$background-lightgray: #eeeeee;
$lightgray: #d2d3d3;
$background_color:rgb(33, 37, 43);
$header_color:#303030;
$toolbar_icon_color: white;
$default_text_color: white;
$toolbar_icon_separator_color:#1F1A1A;
$console_background:white;
$console_error_message: $error_color;
$console_text_color: #444;

// Login
$login-input: $darkgray;
$login-input-focus: #464646;
$login-input-error-label: $darkgray;
$login-input-error-bar: rgb(222, 50, 38);
$login-input-error-message-background: transparent; // rgb(222, 50, 38);
$login-input-error-message-foreground: lightcoral; //white;
$login-input-autofill: $darkgray;

