.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.react-contexify {
    z-index: 100;
    .wollok-object {
        margin: auto 0;
        margin-right: 10px;
    }
}

.fullHeight {
    height: 100%;
    section {
        height: 100%;
    }
}

.contextMenuIcon {
    margin-right: 10px;
    text-align: center;
}

.seecoderun_tooltip {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: black;
    max-width: 100%;
    padding: 3px 4px;
    position: absolute;
    z-index: 999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    white-space: pre;
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    pointer-events: none;
}

.modalContainer {
    width: 600px;
    background: none;
    position: absolute;
    top: 100px;
    .close {
        display: none;
    }
}

#contentRoot {
    height: 100vh;
    .pane {
        // border: 0.1px solid;
    }
    .ide-container {
        width: 100%;
        height: 100%;
        background: $background_color;
        color: $default_text_color;
        .splitter .pane:last-child {
            overflow-y: auto;
        }
        .header {
            position: fixed;
            top: 0px;
            height: $header_height;
            width: 100%;
            z-index: 100;
            background-color: $header_color;
            .login {
                height: 60px;
                width: 250px;
                float: left;
                .btn-login {
                    text-align: center;
                    height: 100%;
                    background: $color_wollok;
                    font-size: 20px;
                }
                .logout {
                    .btn-logout {
                        width: 100px;
                        background: $color_logout;
                        position: absolute;
                        right: 0;
                    }
                    .user-avatar {
                        background: url(/public/user-avatar.svg) center center no-repeat;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        display: block;
                        overflow: hidden;
                        background-size: cover !important;
                        float: left;
                        margin: 10px 0 0;
                    }
                    .username {
                        width: 100px;
                        float: left;
                        text-align: center;
                        height: 100%;
                        margin: 20px 3px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .toolbar {
                height: 60px;
                float: left;
                width: calc(100vw - 250px);
                .ant-menu-horizontal {
                    height: 30px;
                    line-height: 25px;
                    background-color: transparent;
                    border-bottom: none;
                    .ant-menu-submenu-horizontal {
                        .ant-menu-submenu-title {
                            padding: 0 10px;
                            color: white;
                        }
                    }
                    .ant-menu-item {
                        padding: 0 10px;
                        border-bottom: none;
                        color: white;
                        &:hover {
                            color: #1890ff;
                        }
                    }
                }
                .material-icons {
                    color: $toolbar_icon_color;
                    font-size: 18px;
                }
                .icon_container {
                    position: relative;
                    .icon_link {
                        height: 100%;
                    }
                }
                .logo {
                    background-image: url(/public/wollok.png);
                    background-size: 20px;
                    display: block;
                    width: 20px;
                    height: 27px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .separator {
                    width: 1px;
                    height: 14px;
                    background-color: $toolbar_icon_separator_color;
                    margin-bottom: 7px;
                    margin-right: 10px;
                    margin-top: 7px;
                }
            }
        }
        .body {
            position: relative;
            top: 60px;
            padding-bottom: 30px;
        }
        .SplitPane {
            height: calc(100vh - $header_height) !important;
            height: -webkit-calc(100vh - $header_height) !important;
            height: -moz-calc(100vh - $header_height) !important;
        }
        .ant-tabs {
            height: 100%;
            .ant-tabs-bar {
                border-bottom: none;
                margin: 0 0 0px 0;
                color: white;
                background: $background_color;
            }
            .ant-tabs-ink-bar {
                display: none !important;
            }
            .ant-tabs-tab-active {
                background: #141414;
                border-style: solid;
                border-width: 1px 1px 0px 1px;
                border-color: gray;
                border-radius: 10px 10px 0px 0px;
                cursor: default;
            }
            .ant-tabs-content {
                height: 100%;
                .ant-tabs-tabpane {
                    height: 100%;
                }
            }
        }
        .ace_editor {
            border-style: none !important;
            border-radius: 3px;
            border-collapse: collapse;
            width: 100% !important;
            height: 100% !important;
            .ace_link_marker {
                position: absolute;
                border-bottom: 1px solid blue;
            }
        }
        .tabs {
            // height: 40px;
            .file {
                cursor: default;
                .close-icon {
                    cursor: pointer;
                    margin-right: 5px;
                    font-size: 20px;
                    vertical-align: middle;
                }
                .dirty-icon {
                    margin-right: 5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
            section {
                padding: 0px;
            }
            .wollok-icon {
                display: inline;
            }
            .wollok-label {
                text-transform: none;
                line-height: 20px;
                padding-bottom: 5px;
                padding-top: 5px;
                color: $default_text_color;
            }
            .wollok-pointer {
                display: none;
            }
            nav {
                box-shadow: none;
                .wollok-active {
                    background: #141414;
                    border-style: solid;
                    border-width: 1px 1px 0px 1px;
                    border-color: gray;
                    border-radius: 10px 10px 0px 0px;
                    cursor: default;
                }
            }
            .console-icon-stop {
                margin-right: 5px;
                color: $error_color;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
            }
            .console {
                height: 100%;
                width: 100%;
                background: $background;
                color: $console_text_color;
                div.react-console-container {
                    width: 100%;
                    height: 100%;
                    background: $console_background;
                }
                .react-console-message-error {
                    color: $console_error_message;
                }
                .display {
                    p {
                        margin: 5px;
                    }
                }
            }
            .problems {
                background: $background;
                color: $console_text_color;
                height: 100%;
                overflow-y: auto;
                .description {
                    margin: 0px;
                    padding: 5px;
                    padding-left: 15px;
                }
            }
        }
        .bottom-tabs {
            nav {
                .wollok-active {
                    background: $console_background;
                    color: $console_text_color;
                }
            }
        }
        .left-panel {
            background-color: $background_color;
            .left-panel-header {
                height: $tab_file_height;
            }
            .left-panel-top {
                width: 100%;
                height: 100%;
            }
            .file-browser {
                // height: calc(100% - $tab_file_height);
                // height: -webkit-calc(100% - $tab_file_height);
                // height: -moz-calc(100% - $tab_file_height);
                height: 100%;
                width: 100%;
                .file-browser-tree {
                    width: 100%;
                    height: 100%;
                    display: 'inline-block';
                    vertical-align: 'top';
                    padding: '20px';
                    .search {
                        color: white;
                        padding: 0px;
                        margin-bottom: 10px;
                    }
                    input {
                        font-size: 20px;
                    }
                    .material-icons {
                        color: white;
                        top: -2px;
                        left: -43px;
                    }
                }
                .login {
                    color: white;
                    font-size: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .loader_container {
                    height: 100%;
                    background-color: rgba(210,211,211, 0.3);
                    .loader {
                        position:relative;
                        z-index:500;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                    }
                    
                    @-webkit-keyframes spin {
                        from {-webkit-transform:rotate(0deg);}
                        to {-webkit-transform:rotate(360deg);}
                    }
                    
                    @keyframes spin {
                        from {transform:rotate(0deg);}
                        to {transform:rotate(360deg);}
                    }
                    
                    .loader::after {
                        content:'';
                        display:block;
                        position:absolute;
                        left:48%;top:40%;
                        width:40px;height:40px;
                        border-style:solid;
                        border-color:$color_wollok;
                        border-top-color:transparent;
                        border-width: 4px;
                        border-radius:50%;
                        -webkit-animation: spin .8s linear infinite;
                        animation: spin .8s linear infinite;
                    }
                }
            }
            .outline {
                background: $background_color;
                .outline_node {
                    white-space: nowrap;
                }
            }
        }
    }
    .loading_container {
        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: $lightgray;
        z-index: 5000;
        .loading {
            width: $loader-size;
            height: $loader-size;
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            margin: -($loader-size)px 0 0 -($loader-size)px;
            &__ring {
                position: absolute;
                width: $loader-size;
                height: $loader-size;
                &:first-child {
                    transform: skew(30deg, 20deg);
                }
                &:last-child {
                    transform: skew(-30deg, -20deg) scale(-1, 1);
                    svg {
                        animation-delay: -0.5s;
                    }
                }
                svg {
                    animation: rotate 1s linear infinite;
                    fill: $color_wollok;
                }
            }
        }
    }
}