.login-container{
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  color: #fff;
  font: normal 13px 'Ubuntu', sans-serif;
  overflow: hidden;

  .login-panel{
    position: fixed;
    width: 350px;
    top: 30%;
    left: 50%;
    margin-left: -175px;
    padding: 35px;

    input{
    }
  }
}